<ng-container *ngIf="formGroup">
    <div class="ff-form-container">
        <mat-card>
            <mat-card-content>
                <h1>Test Form</h1>
            </mat-card-content>
        </mat-card>
        <dynamic-form (keyup.enter)="onSubmit()" autocomplete="off" [className]="'nested-grid-container'"
            [formGroup]="formGroup" [model]="formModel">
        </dynamic-form>

        <div class="button-row">
            <button mat-button (click)="onSubmit()">Submit</button>
        </div>

        <!--
        <button type="button" mat-button (click)="fileInput.click()">Choose File</button>
        <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file">
        -->
    </div>
</ng-container>
