## Compiled JavaScript files
**/*.js
**/*.js.map

# Typescript v1 declaration files
typings/

node_modules/

## admin credentials
admin-key.json

## email credentials
email-credentials.json

## local emulation config
.runtimeconfig.json

## Log files
firebase-debug.log