## Compiled JavaScript files
**/*.js
**/*.js.map

# Typescript v1 declaration files
typings/

node_modules/

## admin credentials
admin-key.json

## email credentials
src/email-auth.ts

## Log files
firebase-debug.log