<mat-accordion class="example-headers-align">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Grade Response
          </mat-panel-title>
        </mat-expansion-panel-header>
    
        <form [formGroup]="group">
        <ng-container [ngSwitch]="fieldType">
            <ng-template [ngSwitchCase]="'text'">
                <mat-form-field>
                    <mat-label>Value</mat-label>
                    <input formControlName="matchValue" matInput>
                </mat-form-field>
            
                <mat-form-field>
                    <mat-label>Points</mat-label>
                    <input matInput formControlName="points" type="number" min="1">
                </mat-form-field>
            </ng-template>
        </ng-container>
        </form>
    </mat-expansion-panel>    
</mat-accordion>