:host {
    margin: 16px 0px;
}

.fields-section {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    // height: 60px;
  }

  .points-field {
      width: 64px;
  }

  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }