<mat-accordion class="example-headers-align">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Grade Response
          </mat-panel-title>
        </mat-expansion-panel-header>
    
        <mat-form-field>
          <mat-label>Value</mat-label>
          <input matInput>
        </mat-form-field>
    
        <mat-form-field>
          <mat-label>Points</mat-label>
          <input matInput type="number" min="1">
        </mat-form-field>
    
    </mat-expansion-panel>    
</mat-accordion>