<div class="edit-container">

    <ng-container *ngIf="formGroup">

        <mat-card>
            <div class="cardStripe"></div>
            <mat-card-title>{{collectionItem.name}}</mat-card-title>
            <mat-card-content>
                <p>
                    Enter activity
                </p>
            </mat-card-content>
        </mat-card>
        <dynamic-form (keyup.enter)="onSubmit()" autocomplete="off" [className]="'nested-grid-container'"
            [formGroup]="formGroup" [model]="formModel">
        </dynamic-form>

        <div class="button-row">
            <button mat-flat-button color="primary" [disabled]="!isValid()" (click)="onSubmit()">SUBMIT</button>
        </div>
    </ng-container>

</div>