body {
    font-family: "Roboto","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    margin: 0;
  }
   
  .ff-button[mat-button], .ff-button[mat-raised-button] {
    text-transform: uppercase;
  }

  .nested-grid-container .mat-form-field-infix,  .nested-grid-container .mat-form-field {
    width: 100% !important;
  }

  h1, h2 {
    font-weight: 400;
  }
   
  code, pre {
    font-family: 'Roboto Mono', monospace;
  }
  
  code {
    font-size: 90%;
  }
  
  pre {
    font-size: 14px;
  }

// Override checkbox list item used in dynamic form fields 
.ff-selection-list .mat-list-item .mat-list-item-content, .ff-selection-list .mat-list-option .mat-list-item-content {
    padding-left: 8px !important;
}

// Override checkbox list item used in dynamic form fields 
.ff-selection-list .mat-list-item, .ff-selection-list .mat-list-option {
  font-size: 14px !important;
}