<div class="edit-container">

    <ng-container *ngIf="formGroup">
    
        <dynamic-form (keyup.enter)="onSubmit()" autocomplete="off" [className]="'nested-grid-container'"
            [formGroup]="formGroup" [model]="formModel">
        </dynamic-form>
    
        <div class="button-row">
            <button mat-button (click)="onCancel()" color="primary" class="ff-button">Cancel</button>
            <button mat-button [disabled]="!isValid()" (click)="onSubmit()" color="primary" class="ff-button">{{submitButtonLabel}}</button>
        </div>
    
    </ng-container>

</div>