<div *ngIf="editorEnabled; else notShow">
    <form [formGroup]="formGroup" class="example-container">
        <mat-form-field>
            <input matInput placeholder="Label" formControlName="label">
        </mat-form-field>

        <ng-container [ngSwitch]="formField?.type">
            <ng-template [ngSwitchCase]="'input'">
                <mat-form-field>
                    <input matInput placeholder="Placeholder" formControlName="placeholder">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Input Types</mat-label>
                    <mat-select formControlName="inputType">
                        <mat-option value="email">Email</mat-option>
                        <mat-option value="tel">Telephone</mat-option>
                        <mat-option value="text">Text</mat-option>
                        <mat-option value="number">Number</mat-option>
                        <mat-option value="time">Time</mat-option>
                        <mat-option value="url">URL</mat-option>
                    </mat-select>
                </mat-form-field>                      
            </ng-template>
            <ng-template [ngSwitchCase]="'textarea'">
                <mat-form-field>
                    <input matInput placeholder="Placeholder" formControlName="placeholder">
                </mat-form-field>
            </ng-template>
            <ng-template [ngSwitchCase]="'date'">
                <mat-form-field>
                    <input matInput placeholder="Placeholder" formControlName="placeholder">
                </mat-form-field>
            </ng-template >
            <ng-template [ngSwitchCase]="'checkboxgroup'">
                <option-editor arrayName="options"></option-editor>
            </ng-template >
            <ng-template [ngSwitchCase]="'radiogroup'">
                <option-editor arrayName="options"></option-editor>
            </ng-template >
            <ng-template [ngSwitchCase]="'select'">
                <option-editor arrayName="options"></option-editor>
            </ng-template >                              
        </ng-container>

        <mat-slide-toggle formControlName="required">Required</mat-slide-toggle>
    </form>
</div>

<ng-template #notShow>
    <p>
        Properties here
    </p>
</ng-template>