<div *ngIf="formField; else notShow">
    <form [formGroup]="formGroup" class="example-container">
        <mat-form-field>
            <input matInput placeholder="Label" formControlName="label">
        </mat-form-field>

        <ng-container [ngSwitch]="formField.type">
            <ng-template [ngSwitchCase]="'input'">
                <mat-form-field>
                    <input matInput placeholder="Placeholder" formControlName="placeholder">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Input Types</mat-label>
                    <mat-select formControlName="inputType">
                        <mat-option value="email">Email</mat-option>
                        <mat-option value="tel">Telephone</mat-option>
                        <mat-option value="text">Text</mat-option>
                        <mat-option value="number">Number</mat-option>
                        <mat-option value="time">Time</mat-option>
                        <mat-option value="url">URL</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-slide-toggle formControlName="required">Required</mat-slide-toggle>
                <grade-editor [formField]="formField" [formGroup]="formGroup" [collectionItem]="collectionItem"></grade-editor>
            </ng-template>
            <ng-template [ngSwitchCase]="'textarea'">
                <mat-form-field>
                    <input matInput placeholder="Placeholder" formControlName="placeholder">
                </mat-form-field>
                <mat-slide-toggle formControlName="required">Required</mat-slide-toggle>
                <grade-editor [formField]="formField" [formGroup]="formGroup" [collectionItem]="collectionItem"></grade-editor>
            </ng-template>
            <ng-template [ngSwitchCase]="'date'">
                <mat-form-field>
                    <input matInput placeholder="Placeholder" formControlName="placeholder">
                </mat-form-field>
                <mat-slide-toggle formControlName="required">Required</mat-slide-toggle>
            </ng-template >
            <ng-template [ngSwitchCase]="'checkboxgroup'">
                <div class="mat-form-field-wrapper">
                    <option-editor arrayName="options"></option-editor>
                </div>
                <mat-slide-toggle formControlName="required">Required</mat-slide-toggle>
                <grade-editor [formField]="formField" [formGroup]="formGroup" [collectionItem]="collectionItem"></grade-editor>
            </ng-template >
            <ng-template [ngSwitchCase]="'radiogroup'">
                <div class="mat-form-field-wrapper">
                    <option-editor arrayName="options"></option-editor>
                </div>
                <mat-slide-toggle formControlName="required">Required</mat-slide-toggle>
                <grade-editor [formField]="formField" [formGroup]="formGroup" [collectionItem]="collectionItem"></grade-editor>
            </ng-template >
            <ng-template [ngSwitchCase]="'select'">
                <div class="mat-form-field-wrapper">
                    <option-editor arrayName="options"></option-editor>
                </div>
                <mat-slide-toggle formControlName="required">Required</mat-slide-toggle>
                <grade-editor [formField]="formField" [formGroup]="formGroup" [collectionItem]="collectionItem"></grade-editor>
            </ng-template >
            <ng-template [ngSwitchCase]="'image'">
                <image-input formControlName="fileName"></image-input>
            </ng-template >                                       
        </ng-container>

    </form>
</div>

<ng-template #notShow>
    <p>
        Properties here
    </p>
</ng-template>