<mat-toolbar color="primary" class="app-header">

    <mat-toolbar-row>
  
      <!--<button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button> -->
  
      <a mat-button class="du-button" routerLink="/" aria-label="Duvola">
        <span>DUVOLA</span>
      </a>

      <ng-container *ngIf="recentlyUsedItems | async as items">
        <mat-form-field *ngIf="showSelect">
          <mat-select [(value)]="selected" (selectionChange)="onSelectChange()">
            <mat-option value="all">See all collections</mat-option>
            <mat-option value="create">Create collection</mat-option>
            <mat-divider></mat-divider>
            <mat-option *ngFor="let item of items" [value]="item.id">{{item.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>

      <span class="toolbar-spacer"></span>

      <a mat-button class="du-button" routerLink="/login" aria-label="Login">
        <mat-icon>person_outline</mat-icon>
      </a>

    </mat-toolbar-row>
  
</mat-toolbar>