<mat-toolbar color="primary" class="app-header">

    <mat-toolbar-row>
  
      <!--<button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button> -->
  
      <a mat-button class="du-button" routerLink="/" aria-label="Fireform">
        <span>FIREFORM</span>
      </a>

      <ng-container *ngIf="showSelect">
        <mat-form-field>
          <mat-select [(value)]="selected" (selectionChange)="onSelectChange()">
            <mat-option value="all">See all collections</mat-option>
            <mat-option value="create">Create collection</mat-option>
            <mat-divider></mat-divider>
            <mat-option *ngFor="let item of recentlyUsedItems | async" [value]="item.id">{{item.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>

      <span class="toolbar-spacer"></span>

      <a mat-button class="du-button" cdkOverlayOrigin type="button" (click)="openUserPanel()">
        <mat-icon>person_outline</mat-icon>
      </a>

    </mat-toolbar-row>
  
</mat-toolbar>

<ng-template #overlay>
  <mat-card style="text-align: center;">
    <mat-card-title>
      {{userEmail}}
    </mat-card-title>
  
    <mat-card-content>
      <button mat-button color="primary" style="margin-right:5px;" (click)="logout()">logout</button>
    </mat-card-content>
  </mat-card>
</ng-template>