.ff-selection-list .mat-list-text {
    // font-size: 14px !important;
    padding-right: 0 !important;
    padding-left: 8px !important;
}

.ff-selection-list .mat-list-item, .ff-selection-list .mat-list-option {
    height: 30px !important;    
}