<mat-toolbar>
    <mat-toolbar-row>

        <span class="edit-name">{{editItem?.name}}</span>

        <button mat-button class="crm-command-bar-button" (click)="onGenerateLink()">
            <mat-icon>link</mat-icon>
            Get Shareable Link
        </button>

        <button mat-button class="crm-command-bar-button" (click)="onDelete()">
            <mat-icon>delete</mat-icon>
            Delete collection
        </button>

        <button mat-button class="crm-command-bar-button" (click)="onDownload()">
            <mat-icon>get_app</mat-icon>
            Download CSV
        </button>

        <button mat-button class="crm-command-bar-button" (click)="onSend()">
            <mat-icon>email</mat-icon>
            Send Invitations
        </button>

        <span class="toolbar-spacer"></span>

        <button mat-icon-button (click)="toggleSettings()">
            <mat-icon>settings</mat-icon>
        </button>

    </mat-toolbar-row>
</mat-toolbar>
<ng-container *ngIf="showEditor">
    <app-collection-settings (cancel)="toggleSettings()" (save)="saveSettings($event)"></app-collection-settings>
    <mat-divider></mat-divider>
</ng-container>
<app-form-builder #formBuilder [collectionItem]="editItem"></app-form-builder>
<!--<footer class="editor-footer">
    <span class="toolbar-spacer"></span>

    <button mat-flat-button color="primary" (click)="saveForm(formBuilder.toJson())">
        SAVE
    </button>
</footer>-->