@import '~@angular/material/theming';
@import './app-theme';
@import './styles/general';


// Include material core styles.
@include mat-core();


// Define the light theme.
$fireform-primary: mat-palette($mat-indigo);
$fireform-accent:  mat-palette($mat-pink, A200, A100, A400);

$fireform-theme: mat-light-theme($fireform-primary, $fireform-accent);

@include angular-material-theme($fireform-theme);
@include app-theme($fireform-theme);
