@import '../../../styles/constants';

.project-list {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;

  @media (max-width: $small-breakpoint-width) {
    justify-content: center;
  }
}

.project-list-item {
  display: inline-block;
  margin: 20px;
  vertical-align: top;
  width: 300px;

  .mat-card-title {
    font-size: 20px;
  }

  &, &:active, &:hover, &:focus {
    text-decoration: none;
  }
}

.project-list-card-summary {
  min-height: 4em;
  margin-bottom: 8px;
}

mat-card {
  .mat-icon {
    font-size: 40px;
  }
}