<div class="edit-container">
    <main class="edit-main">
        <div
        cdkDropList
        id="form-field-list"
        [cdkDropListData]="formFields"
        cdkDropListConnectedTo="control-list"
        class="fields-container"
        (cdkDropListDropped)="drop($event)">
        <form-field-snippit *ngFor="let field of formFields; let i = index"
          (click)="handleClick(i)"
          [formField]="field"
          [class.form-field-snippit-active]="selectedIndex == i"
          cdkDrag></form-field-snippit>
      </div>
    </main>
    <aside class="edit-controls">
        <h2>Controls</h2>
        <div
        cdkDropList
        id="control-list"
        [cdkDropListData]="controls"
        cdkDropListConnectedTo="form-field-list"
        class="example-list"
        cdkDropListSortingDisabled
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of controls" cdkDrag>{{item.name}}</div>
      </div>        
    </aside>
    <aside class="edit-properties">
        <h2>Properties</h2>
        <property-editor #propertyEditor></property-editor>
    </aside>
</div>