:host {
    display: flex;
    justify-content: center;
}

.edit-container {
    margin: 1.5em;
    width: 850px;

    @media (max-width: 720px) {
        width: 100%;
    }    
}

.button-row {
    display: flex;
    justify-content: flex-end;  
}